body {
  margin: 0;
  display: flex;
}
.poemsBox {
  position: absolute;
  width: 56%;
  height: 90%;
  left: 19%;
  top: 5%;
  display: flex;
  flex-direction: column;
}
.poems {
  height: 91%;
  width: 90%;
  background-color: #ffffff61;
  border-radius: 25px;
}
.title, .poemScroll, .author {
  color: rgb(0, 0, 0);
  width: 100%;
  text-shadow: 1px 3px 2px rgb(255, 241, 231);
  font-family: 'Duru Sans', san-serif;


}
.title {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
}

.poemScroll {
  width: 98%;
  height: 73%;
  overflow: scroll;
  font-size: 37px;
  overflow-x: hidden;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}
.poemScroll::-webkit-scrollbar {
  width: 0 !important
}
.author {
  font-size: 37px;
  height: 8%;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;

}
/*Loader Modal*/
.loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 45%;
  left: 45%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*Image*/
.img-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.img-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  filter: blur(4px);
}
/* MODAL IMAGE */
.startModal{
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(166, 227, 255), rgb(219, 165, 255));
  text-align: center;
}
.startModal h2 {
  font-family: 'Duru Sans', san-serif;
  font-size: 3em;
  color: black;
  text-emphasis: bold;
  letter-spacing: 10px;
  width: 100%;
}
.button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 82%;
}
.startModal .button{
  position: relative;
  display: inline-block;
  width : 26%;
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border: 7px solid black;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-size: 56%;
  background-repeat: no-repeat;
  background-position: center;

}

.weather{
  background-image: url(../assets/cloudy.png);
}
.happy{
  background-image: url(../assets/happiness.png);
}
.sad{
  background-image: url(../assets/sad-sleepy-emoticon-face-square.png);
}
.random {
  background-image: url(../assets/couple-of-arrows-changing-places.png);
}
.hide{
  display: none;
}

/*Reload Buttons*/
.reloadButtonsContainer {
  margin: 6px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 8%;
  width: 89%;
}

.reloadButton {
  height: 80%;
  width: 6%;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.247);
  cursor: pointer;
  border-radius: 10px;
  background-size: 56%;
  background-repeat: no-repeat;
  background-position: center;

}
