body {
  margin: 0;
  display: flex;
}
.poemsBox {
  position: absolute;
  width: 1200px;
  height: 800px;
  left: 3%;
  top: 5%;
  display: flex;
  flex-direction: column;
}
.poems {
  height: 75%;
  width: 90%;
  margin: auto;
}
.title {
  font-size: 40px;
  font-family: 'Bree Serif', serif;
  color: rgb(52, 52, 235);
  text-shadow: -2px -2px rgb(245, 245, 215);
}
.poemScroll {
  width: 100%;
  height: 80%;
  overflow: scroll;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: rgb(42, 42, 167);
  text-shadow: 5px 2px rgb(255, 255, 151);
  overflow-x: hidden;
  background: rgba(0,151,19,0.1);
  background-color: #ffffff61;
  border-radius: 25px;
}
.poemScroll::-webkit-scrollbar {
  width: 0 !important
}
.author {
  font-size: 50px;
  font-family: 'Miss Fajardose', cursive;
  color: rgb(52, 52, 235);
  text-shadow: 0px 2px rgb(245, 245, 215);
  height: 20%;
  width: 40%;
  margin: auto 0;
}
/*Loader Modal*/
.loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 45%;
  left: 45%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*Image*/
.frame {
  position: relative;
}
.blurred {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(10px);
  z-index: -4;
}
.regular {
  position: relative;
  max-width: 1280px;
  top: 6%;
  left: 25%;
  z-index: -2;
}
/* MODAL IMAGE */
.startModal{
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(58, 188, 248), rgb(60, 40, 151));
  text-align: center;
}
.startModal h2 {
  font-size: 4em;
  color: white;
  text-emphasis: bold;
  letter-spacing: 10px;
  width: 100%;
}
.button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}
.button{
    position: relative;
    display: inline-block;
    width : 25%;
    height: 37%;
    margin-left: 5%;
    margin-right: 5%;
    border: 7px solid black;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}

.weather{
  background-image: url(../assets/cloudy.png);

}

.happy{
  background-image: url(../assets/happiness.png);

}

.sad{
  background-image: url(../assets/sad-sleepy-emoticon-face-square.png);

}

.random {
  background-image: url(../assets/couple-of-arrows-changing-places.png);

}

.hide{
  display: none;
}
